body{
  font-family: 'Hubballi', cursive;
  font-family: 'Syne Mono', monospace;
  background-color: #011627;
  color: white;
  border: 70px solid #2EC486;
  border-top: 0px;
  text-align: center;
  margin: 0px;
}

p{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

form{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#submit{
  background-color: gold;
  font-size: 1em;
  height: 80px;
  width: 150px;
  margin: 4px;
  margin-top: 12px;
  border-radius: 25px;
}
