<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Capstone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/capstone.css">
    <link href="./static/assets/newicon.ico" rel="icon">
  </head>
  <body>
    <h1>Welcome to the Capstone!</h1>
    <h2>We are a Start-up for Restaurant reservation!</h2>
    <p id = "paraone">Capstone claims to become the number one restaurant reservation platform in Asia. It is backed by Trip Advisor and offers dining deals and restaurant reservations in Thailand, India, Hong Kong, Malaysia, the Philippines, and Singapore. What makes it the NEXT BIG THING in the food industry is the quality of service it offers. Users can search for restaurants, reserve online, and enjoy deals with a special discount, within minutes.</p>
    <p id = "paratwo">Restaurant locations, pictures, reviews, and menus are also available on the platform for the users to see and decide in real-time, whether it is a good fit for them. Capstone was founded in 2022 which is going to be launched soon and is headquartered in Bangkok, Thailand.</p>

    <h1>Signup for upcoming Launch!</h1>

    <form class = "emailform " action="capstone_thankyou.html" method="get">
      <label for="fn">First Name:</label><br>

      <input id = "fn" type="text" name="Firstname" value="" placeholder="First name" required><br>

      <label for="ln">Last Name:</label><br>

      <input id = "ln" type="text" name="" value="" placeholder="Last name" required><br>

      <label for="useremail">E-mail:</label><br>

      <input id = "useremail" type="email" name="email" value="" placeholder="Email" required><br>

      <input id = "submit" type="submit" name="" value="Sign me up!">

    </form></td>
  </body>
</html>
